.home {
  text-align: center;
  padding-top: 4rem;
}

.galery {
  text-align: center;
  padding-top: 4rem;
  display: flex;
  justify-content: center;
}

.col {
  display: flex;
  justify-content: center;
}

.link-react {
  text-decoration: none;
  color: white;
}

.link-react:hover {
  
  color: yellow;
}